@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Satoshi:wght@400;500;700&display=swap');

.font-playfair {
  font-family: "Playfair Display", serif;
}

.font-satoshi {
  font-family: "Satoshi", sans-serif;
}

body {
  background: white;
}
